
        body {
            font-family: 'Milkyway', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #FFDBE9;
        }
        nav {
            background-color: #FFDBE9;
            overflow: hidden;
        }
        nav a {
            float: left;
            display: block;
            color: #FFDBE9;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: 'BrandyScript', sans-serif;
            font-size: 64px;
        }
        nav a:hover {
            background-color: #FFDBE9;
            color: black;
        }
        .container {
            padding: 20px;
        }
        .page {
            display: none;
        }
        .active {
            display: block;
        }
        @font-face {
            font-family: 'BrandyScript';
            src: url('Brandy Script.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Milkyway';
            src: url('Milkyway\ DEMO.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        
